footer {

    background-color: #161619;

    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;

    width: 19.8rem;
    height: 4rem;
}

.social-icons {
    width: 1.5rem;
    height: 1.5rem;
}

