* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {

    text-decoration: none;
}


body {
    display: flex;
    justify-content: center;
    
    background-color: #23252C;
    font-family: Inter, sans-serif;

    padding: 2.75rem 2.75rem;
    width: 100%;
    min-height: 100vh; 
    
}

